.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0 0% 0% 0.1);
    padding: 30px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.card .cardImg {
    max-width: 100%;
    margin-bottom: 10px;
}

.card .cardTitle {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.card:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px hsla(0 0% 0% 0.4);
    padding: 40px;
}